<launch>

    <!-- Robot -->
    <include file="$(find scitos_description)/launch/scitos_state_publisher.launch"/>

    <!-- Navigation --> 
    <include file="$(find scitos_2d_navigation)/launch/scitos_2d_nav.launch">
    <arg name="map" value="$(find map_saver)/maps/map.yaml" />
    </include>
  


</launch>