<launch>



    <!-- Navigation --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find map_saver)/maps/map.yaml"/>

    <node name="amcl" pkg="amcl" type="amcl" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
      <remap from="/base_scan" to="/scan"/>
      
      <param name="footprint_padding" value="0.01" />
      <param name="controller_frequency" value="10.0" />
      <param name="controller_patience" value="100.0" />
      <param name="planner_frequency" value="2.0" />
      
      <rosparam file="$(find patroller)/patroller_move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patroller)/patroller_move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patroller)/patroller_move_base/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find patroller)/patroller_move_base/global_costmap_params.yaml" command="load" />
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find patroller)/patroller_move_base/dwa_planner_ros.yaml" command="load" />
    </node>


    <node name="patroller" pkg="patroller" type="patroller.py">
	 <param name="waypoints" value="$(find waypoint_recorder)/waypoints/waypoints.csv" />
    </node>	



</launch>
