<launch>



    <!-- Navigation --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find map_saver)/maps/map.yaml"/>

    	<node name="amcl" pkg="amcl" type="amcl">
	  <!-- default value for odom_alpha parameters: 0.2 -->
    		<!--Specifies the expected noise in odometry's rotation estimate from the rotational component of the robot's motion. -->
		<param name="odom_alpha1" value="0.2" type="double"/>

    		<!--Specifies the expected noise in odometry's rotation estimate from translational component of the robot's motion. -->
		<param name="odom_alpha2" value="0.2" type="double"/>

    		<!--Specifies the expected noise in odometry's translation estimate from the translational component of the robot's motion. -->
		<param name="odom_alpha3" value="0.2" type="double"/>

    		<!--Specifies the expected noise in odometry's translation estimate from the rotational component of the robot's motion.  -->
		<param name="odom_alpha4" value="0.2" type="double"/>

	</node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
      <remap from="/base_scan" to="/scan"/>
      
      <param name="footprint_padding" value="0.01" />
      <param name="controller_frequency" value="10.0" />
      <param name="controller_patience" value="100.0" />
      <param name="planner_frequency" value="2.0" />
      
      <rosparam file="$(find patroller)/patroller_move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find patroller)/patroller_move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find patroller)/patroller_move_base/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find patroller)/patroller_move_base/global_costmap_params.yaml" command="load" />
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find patroller)/patroller_move_base/dwa_planner_ros.yaml" command="load" />
    </node>




</launch>
