<launch>

    <!-- declare arg to be passed in -->
    <!--<arg name="map"/>  -->
    <arg name="waypoints" default="default_waypoints_name"/>


    <!-- launch map -->
     <!--   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/> -->

    <!-- launch AMCL -->
    <include file="$(find scitos_2d_navigation)/launch/amcl.launch"/>


        <node pkg="waypoint_recorder" type="waypoint_recorder_with_pt" name="waypoint_recorder_with_pt" output="screen" args="$(arg waypoints)">
		<param name="pan_start" value="-100.0" type="double"/>
		<param name="pan_end" value="100.0" type="double"/>
		<param name="pan_step" value="20.0" type="double"/>
		<param name="tilt_start" value="-30.0" type="double"/>
		<param name="tilt_end" value="30.0" type="double"/>
		<param name="tilt_step" value="15.0" type="double"/>
	</node>
</launch>

