<launch>

    <!-- declare arg to be passed in -->
    <arg name="map"/>    
    <arg name="waypoints" default="default_waypoints_name"/> 

        
    <!-- launch map -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

    <!-- launch AMCL -->
    <include file="$(find scitos_2d_navigation)/launch/amcl.launch"/>
    
    <!-- launch pose publisher -->
        <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher"/>


	<node pkg="waypoint_recorder" type="waypoint_recorder" name="waypoint_recorder" output="screen" args="$(arg waypoints)"/>
</launch>
