<launch>
        
	<include file="$(find rumblepad_control)/launch/rumblepad_control.launch"/>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find map_saver)/maps/map.yaml"/>

    	<node name="amcl" pkg="amcl" type="amcl" />

	<node pkg="waypoint_recorder" type="waypoint_recorder" name="waypoint_recorder">
		<param name="csv_name" value="$(find waypoint_recorder)/waypoints/waypoints.csv" type="string"/>
	</node>
</launch>
